/* Global Font Family */
@font-face {
    font-family: neu;
    src: url(./resources/NeueHaasDisplayMediu.ttf);
}

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1{
    background-color: #EFEAE3;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 2vw;
}
nav{
    padding: 2vw 2vw;
    width: 100%;
    /*background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 0.9px solid #2e2d2dec;
    border-radius: 50px;
    font-weight: 400;
    transition: all ease 0.3s;
    color: rgb(35, 35, 35);
    font-size: 16px;
    position: relative;
    overflow: hidden;
}
#nav-part2 h4::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}

#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
    transition: 0.3s;
}

#nav-part2 h4 a{
    color: #313131d3;
    font-family: neu;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a{
    color: #fff;
    transition: 0.6s;
}

#center{
    height: 65vh;
    width: 100%;
    /*background-color: #ffd901; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw ;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    font-weight: lighter;
    line-height: 2vw;
}

#center h1{
    font-size: 9vw;
    line-height: 7vw;
    text-align: center;
}